<header class='header'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <div class="logo__link">
                        <a href="/" class='logo__anchor display_block'></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contacts">
                    <div class="contacts__phone flex">
                        <div class="contacts__phone-icon"></div>
                        <div class="contacts__phonenumber">
                            <p class='contacts__phonenumber-par'>+7(473)255-47-98</p>
                            <p class='contacts__phonenumber-par'>+7(905)654-95-72</p>
                            <p class='contacts__phonenumber-par'>+7(905)654-95-54</p>
                        </div>
                    </div>
                    <div class="contacts__email flex">
                        <div class="contacts__email-icon"></div>
                        <div class="contacts__email-text">
                            <a href="mailto:info@sts2.ru">info@sts2.ru</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social">
                    <div class="social__graphic">
                        <div class="social__graphic-header">
                        </div>
                        <div class="social__graphic-shedile">

                        </div>
                        <div class="social__graphicSocialLink">
                            <ul class='social__graphicSocialLinkList flex'>
                                <li class='social__graphicSocialLinkListItem facebookIcon'></li>
                                <li class='social__graphicSocialLinkListItem vkIcon'></li>
                                <li class='social__graphicSocialLinkListItem twitterIcon'></li>
                                <li class='social__graphicSocialLinkListItem okIcon'></li>
                                <li class='social__graphicSocialLinkListItem mailruIcon'></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <app-backet-block></app-backet-block>
            </div>
        </div>
    </div>
</header>