<a class="backet display_block" href="/mybacket">
    <div class="backet__counter">
        Корзина (<span>0</span>)
    </div>
    <div class="backet__summ">
        <span>0</span>
    </div>
</a>

<div class="loginBlock">
    <div class="login align_center">
        <a href="/user/lk" class="login__link">
            Личный кабинет
        </a><br>

        <a href="/panelcontrol" class="login__link">
            Adminpanel
        </a><br>

        <a href="/user/out" class="login__link">
            Выйти
        </a>

    </div>
</div>
