@import '../../style.scss';
.horizontalMenu{
    min-height: 40px;
    background: $bgColorTopNav;
    line-height: 40px;
    
    li a{
        color:$baseColorBlack;
        font-size:15px;
        &:hover{
            color:$baseColorWhite;
            background: $secondColor; 
            border-radius: 0;
        }
        padding: 0 20px;
    }
   
}